/* Колір лого  color: #2196F3;*/
/* Колір в  посилань хедері 
color: #2196F3;       color: #757575;*/
/* Бекграунд background: #E5E5E5; background: #2F303A; */
/* Колір h1  color: #FFFFFF; */
/* Колір посилань у футері color: rgba(255, 255, 255, 0.6); */
body {
  color: #757575;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-background-color: #E5E5E5;
}